#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background: white;
  box-shadow: 2px 2px 15px rgb(0,0,0,3);
  width: fit-content;
  padding: 30px;
  border-radius: 15px;
}

.card ul li {
  text-align: right;
}

i {
  text-align: right;
  font-size: 70px;
}

.buttonClick {
  text-align: right; 
}

button {
  border: transparent;
  background: none;
  cursor: pointer ;
}